<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PresentationSourceInConsoleAppOne.WpfInjectorHost.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
		<PresentationSourceInConsoleAppOne.WpfInjectorHost.AppSettings>
            <setting name="FirstOrSecond" serializeAs="String">
                <value />
            </setting>
        </PresentationSourceInConsoleAppOne.WpfInjectorHost.AppSettings>
    </userSettings>
</configuration>